<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- include title -->
    <title> edit todos </title>

     <!-- include css-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">
        <link href="css/bootstrap.css" type="text/css" rel="stylesheet"/>
        <link href="css/todostyle.css" type="text/css" rel="stylesheet"/>

</head>
    <body>

<div class="container-fluid col-md-12 row">

        <!--- left panel -->
        <div class="col-md-3 leftPanel length highlight"> 
        
            <span class="effect">

                <div class="col-md-12 topAlign text-center white">
                    <h1><span class="glyphicon glyphicon-trash"></span>Planner</h1>
                    <b>prioritize your tasks</b>
                </div>
            
            </span>
        
        </div>
        <!---end of left panel -->
 
        <!--- right panel -->
        <div class="col-md-9 topAlign1">

                <h1 id="outlook"><b> Update list </b></h1>
                <hr>
            
        <form class="well well-sm shade" method="post" action="">    
               <div class="row">
                    <div class="col-md-10 form-group" >
                    <input type="text" class="form-control"  name="_todo" />
                    </div>

					<div class="col-md-2 form-group">
						  <input type="submit" class="btn btn-success btn-sm" value="update todo" />
					</div>
                </div> 
         </form>
                <hr> 
                
                <!--- display panel -->
 

        </div>
        <!--- end of right panel -->

        <!--- footer -->
        <div class="text-center col-md-9 topAlign2">
            <i>created and designed by snowcoder</i>
        </div>
        <!--- end of footer -->
        
</div>

         <script src="js/jquery.js"> </script>
    </body>
</html>